[Desktop Entry]
Type=Application
Exec=rtneuron
Name=rtneuron
Terminal=true
Comment=Interactive visualization framework for geometrically detailed neuron simulations
Categories=Science;
Icon=rtneuron
